body{
    padding: 0px;
    margin: 0px;
}

.main{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    
}

.logo{
    background-color: rgb(223, 223, 223);
    margin: 5px 0px 5px 0px;
    padding: 20px;
}

.nav{
    background-color: rgb(223, 223, 223);
    margin-bottom: 5px;
    text-align:center;
}

.header{
    background-color: rgb(223, 223, 223);
    margin-bottom: 5px;
    align-items:center;
    justify-content: center;
    display: flex;
    height: 100px;
}

.sideBar{
    background-color: rgb(223, 223, 223);
    margin-bottom: 5px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex: 1;
    height: 400px;
    width: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.body{
    background-color: rgb(223, 223, 223);
    margin-bottom: 5px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex: 2;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.footer{
    background-color: rgb(223, 223, 223);
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
}